<!DOCTYPE html>
<html lang="en">
<body>
    <h3>Add new employee</h3>
    <form action="{{ request.path }}" method="POST">
        <label for="name">Name</label><br>
        <input type="text" name="name" placeholder="Name"><br>
        <label for="salary">Salary</label><br>
        <input type="text" name="name" placeholder="Salary"><br>
        <label for="age">Age</label><br>
        <input type="text" name="name" placeholder="Age"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>